* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black;
    color: white;
    min-width: 400px;
}

#container {
    padding: 50px;
}

input {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    padding: 0 10px;
    border: solid 2px #5f9341;
}

button {
    padding: 10px 15px;
    background: #5f9341;
    color: white;
    font-weight: 700;
    border: none;
}

ul {
    margin-top: 10px;
    list-style: none;
}

li {
    margin-top: 10px;
}

li a {
    color: #5f9341;
}