* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
}

#wrapper {
    display: flex;
    margin: 100px;
    gap: 10px;
    width: 850px;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    display: flex;
    width: 200px;
    height: 200px;
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#squareWP {
    background: rgb(73, 71, 66);
}

#squareDE {
    background: rgb(120, 94, 24);
}

#squareSNW {
    background: rgb(17, 45, 33);
}

#squareKNY {
    background: rgb(197, 61, 15);
}

#squareO {
    background: rgb(192, 31, 213);
}