* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
}

#wrapper {
    margin: 100px;    
}

.square {
    display: flex;
    width: 200px;
    height: 200px;
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    background: rgb(182, 89, 27);
}