* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: grey;
    color: white;
    transition: 300ms;
}

h1 {
    margin-top: 100px;
    text-align: center;
}

#wrapper {
    display: flex;
    margin-top: 30px;
    gap: 50px;
    justify-content: center;
}

.square {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    height: 150px;
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

#FB {
    background: rgb(56, 89, 153);
}

#TW {
    background: rgb(29, 161, 242);
}

#IG {
    background: rgb(200, 0, 135);
}

.box {
    border-radius: 20px;
    box-shadow: 10px 10px 25px black;
}

.square p {
    display: none;
}

.square p.display {
    display: block;
    font-size: medium;
}

