* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: grey;
    color: white;
    height: 100vh;
    transition: 300ms;
}

h1 {
    margin-top: 100px;
    text-align: center;
}

#wrapper {
    display: flex;
    margin-top: 30px;
    gap: 50px;
    justify-content: center;
}

.square {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    height: 150px;
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

#FB {
    background: rgba(56,89,153);
}

#TW {
    background: rgba(29,161,242);
}

#IG {
    background: rgba(200,0,135);
}

.box {
    border-radius: 20px;
    box-shadow: 5px 5px 25px black;
}