* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 25px;
    background: black;
    color: white;
}

h1 {
    margin-bottom: 25px;
}

#count {
    width: fit-content;
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 25px;
    padding: 15px;
    border: solid 2px;
}

#todo {
    width: 515px;
}

#todoCards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#btn {
    width: 100%;
    margin-bottom: 15px;
}

.todoCard {
    position: relative;
}

.task {
    resize: none;
}

.delBtn {
    color: black;
    position: absolute;
    bottom: 10px;
    right: 10px;
}



