* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: rgb(11, 11, 30);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: rgb(111, 111, 111);
    height: 100px;
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid white;
    position: relative;
}

.quote:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.255);
}

.quote:active {
    transform: scale(0.99);
}

.small {
    align-self: flex-end;
}

.fa-heart {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: large;
}

.fa-solid {
    display: none;
    color:rgb(202, 23, 23);
}

.heartDisplay {
    display: block;
}

/* .favourites {
    background : red;
} */