body {
    background-image: url(360_F_362053188_oQ0WRHCFkIY4QlXS1S5d1i9bpYup67ll.jpg);
    background-size: cover;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-left: 300px;
    margin-top: 300px;
    line-height: 5px;
}

h1 {
    color: goldenrod;
    margin-bottom: 30px;
}

#message-el {
    font-style: italic
}

#start, #newCard {
    background: goldenrod;
    color: #016f32;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    width: 175px;
    font-size: large;
    padding: 5px 15px 5px;
    transition: 150ms;
}

#start:hover, #newCard:hover {
    color: red;
    cursor: pointer;
}

#start:active {
    transform: scale(0.96);
}